@model List<Challenge1_BLOG.Models.ViewModel.ListTablaViewModel>
@{
    ViewBag.Title = "Blog";
}

<h2>@ViewBag.Titlle</h2>

<div>
    <a href="~/Tabla/Nuevo" class="btn btn-primary">Agregar</a>
    <table class="table">
        <tr>
            <td>#</td>
            <td>Imagen</td>
            <td>Titulo</td>
            <td>Categoria</td>
            <td>Feacha de creación</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    <img style="width:150px;max-height:80px;" src="@item.Imagen" alt="Imagen-blog" />
                </td>
                <td>@item.Titulo</td>
                <td>@item.Categoria</td>
                <td>@item.Fecha_Creacion</td>
            </tr>
        }
    </table>
</div>

