@using Challenge1_BLOG.Models
@model Tabla

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

@if (Model == null)
{
    <div class="alert alert-danger">
        No se pudo cargar los detalles del post.
    </div>
}
else
{

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Model.Imagen" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">@Model.Titulo</h3>
            <p class="card-text">@Model.Contenido</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Categoria: @Model.Categoria</li>
            <li class="list-group-item">Fecha de creación: @Model.Fecha_Creacion</li>
        </ul>
        <a href="~/GET/Index" class="btn btn-primary">Volver</a>
    </div>
}

