@using Challenge1_BLOG.Models
@model Tabla
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<form method="post">
    <div class="form-group">
        ID:
        <input name="ID" value="@Model.ID"  class="form-control" readonly/>
        Titulo:
        <input name="Titulo" value="@Model.Titulo" class="form-control" />
        Contenido:
        <input name="Contenido" value="@Model.Contenido" class="form-control" />
        Imagen:
        <input name="Imagen" value="@Model.Imagen" class="form-control" />
        Categoria:
        <input name="Categoria" value="@Model.Categoria" class="form-control" />
        Fecha de creación:
        <input name="Fecha_Creacion" type="date" value="@Model.Fecha_Creacion" class="form-control" />
    </div>
    <a href="~/Get/Index" class="btn btn-primary">Volver</a>
    <button class="btn btn-success">Guardar</button>
</form>