@using Challenge1_BLOG.Models
@model Tabla
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<form method="post">
    <div class="form-group">
        Titulo:
        <input value="@Model.Titulo" class="form-control" />
        Contenido:
        <input value="@Model.Contenido" class="form-control" />
        Imagen:
        <input value="@Model.Imagen" class="form-control" />
        Categoria:
        <input value="@Model.Categoria" class="form-control" />
        Fecha de creación:
        <input type="date" value="@Model.Fecha_Creacion" class="form-control" />
    </div>
    <button>Guardar</button>
</form>