@model List<Challenge1_BLOG.Models.Tabla>
@using System
@{
    ViewBag.Title = "Blog";
}


<h1>Blogs</h1>

<div>
    <a href="~/GET/Agregar" class="btn btn-success">Agregar</a>
</div>


@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert">
        <h1>@ViewBag.Message</h1>
    </div>
}
<div>
    <table class="table table-bordered" style="opacity:0.9; border-radius:9px;">
        <thead>
            <tr>
                <td>#</td>
                <td>Imagen</td>
                <td>Titulo</td>
                <td>Categoria</td>
                <td>Feacha de creación</td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>
                        <img style="width:150px;max-height:80px;" src="@item.Imagen" alt="Imagen-blog" />
                    </td>
                    <td>@item.Titulo</td>
                    <td>@item.Categoria</td>
                    <td>@item.Fecha_Creacion</td>

                    <td><a href="~/GET/Detalles/@item.ID" class="btn btn-info"> Detalles</a></td>
                    <td><a href="#" class="btn btn-warning">Editar</a></td>
                    <td><a href="#" class="btn btn-danger">Borrar</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

